<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Semplice <span class="logo_colour">school</span></a></h1>
          <h2>Friendly. Effective. Modern.</h2>
        </div>
      </div>

    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Новости</h3>
        <h4>Веб-сайт запущен</h4>
        <h5>18 февраля, 2022</h5>
        <h4>Новая программа курсов</h4>
        <h5>Летние курсы английского для детей от 3-х лет</h5>
        <p>Авторские программы, опытные преподаватели, игровой формат обучения<br /><a href="#">Читать дальше </a></p>
        <h3>Полезные ссылки</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Добро пожаловать</h1>
        <p>Опыт обучения детей в группах и индивидуально более 5 лет </p>
        <p>Игровая форма обучения</p>
        <p>Музыкальные занятия</p>
        <h2>Мы преподаем:</h2>
        <ul>
          <li>Английский</li>
          <li>Немецкий</li>
          <li>Французский</li>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; colour_orange | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Simple web templates by HTML5</a>
    </div>
  </div>
</body>
